/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding: 100px;
  color: var(--main-color);
  font-family: var(--font-main);
  font-weight: var(--font-weight-text);
  background-color: var(--bg-color);
  background-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

/* For pixelperfect debug only */
/* body {
  position: relative;
} */

/* Pixelperfect debugging image */
/* .pixelperfect {
  position: absolute;
  inset: 0;
  z-index: 9999;
  opacity: 0.5;
  background: url("../pixelperfect/desktop-1440x960.png") repeat-y top left /
    1440px auto;
  background: url("../pixelperfect/mobile-375x667.png") repeat-y top left /
    375px auto;
  background: url("../pixelperfect/desktop-dialog-1440x960.png") repeat-y top
    left / 1440px auto;
  background: url("../pixelperfect/mobile-dialog-375x667.png") repeat-y top
    left / 375px auto;
  background-position: center top;
  pointer-events: none;
} */

/* HEADER */
.header {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto 96px;
  border: 2px solid var(--main-color);
  padding: 130px 0 130px 0;
  background-color: var(--bg-color);
  inline-size: clamp(375px, 100%, 700px);
}

.header__logo {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(49px, calc(49px + 16 * (100vw - 375px) / 325), 65px);
  text-align: center;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-accent);
  font-size: clamp(14px, calc(14px + 9 * (100vw - 375px) / 325), 23px);
  text-align: center;
  text-transform: uppercase;
}

/* CARDS */
.cards {
  display: grid;
  gap: 52px;
  margin: 0 auto;
  inline-size: clamp(375px, 100%, 700px);
}

.card {
  display: grid;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.card__title {
  display: grid;
  padding: 5px 10px;
  font-weight: var(--font-weight-title);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__image-wrapper {
  position: relative;
  display: grid;
  border: 2px solid var(--main-color);
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.card__image {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (-webkit-text-stroke: 1px var(--stroke-color)) or
    (text-stroke: 1px var(--stroke-color))
) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__text {
  display: grid;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: grid;
  grid-template-columns: auto min-content;
  justify-content: end;
  gap: 7px;
}

/* BUTTONS */
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color);
  padding: 11px 17px;
  overflow: hidden;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 13px;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

/* Базовый цвет иконки (чёрный) */
.button svg {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  transition: color 0.3s ease;
}

/* При наведении цвет иконки становится белым */
.button:hover svg {
  color: #fff;
}

/* Стили для текста оставляем с mix-blend-mode */
.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

/* HEART-SHAPED BUTTON */
.card__icon-button {
  display: flex;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.card__like-button {
  min-width: 130px;
}

/* IMAGE FILTERS */

/* CARD 2 */
.filter-card-void {
  filter: grayscale(0.8);
}

/* CARD 3 */
.filter-card-concern {
  filter: saturate(4) blur(0.5px);
}

/* CARD 4 */
.filter-card-perfectionism {
  filter: hue-rotate(30deg) brightness(0.95) blur(0.5px);
}

/* CARD 5 */
.filter-card-support {
  filter: invert(1) contrast(0.6) blur(0.5px);
}

/* CARD 6 */
.filter-card-strategy {
  filter: sepia(0.9) contrast(0.9);
}

/* CARD 7 */
.filter-card-overcoming {
  filter: blur(20px);
}

/* CARD 8 */
.filter-card-estimation {
  filter: saturate(2) brightness(0.8) contrast(0.4) hue-rotate(90deg)
    blur(1.5px);
}

/* MODAL WINDOW */
.dialog {
  position: fixed;
  inset: 0;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid var(--main-color);
  padding: 30px;
  background-color: var(--bg-color);
  max-inline-size: 353px;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--main-color);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.dialog__icon {
  flex-shrink: 0;
  width: 39px;
  height: 36px;
}

.dialog__icon svg {
  width: 100%;
  height: 100%;
}

.dialog__text {
  margin: 0;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
}

.dialog__close {
  justify-content: center;
  width: 100%;
}

/* DIALOG OPEN BUTTON */
.button_dialog-open {
  margin: 0 auto 50px;
  padding: 15px 17px;
}

/* MOBILE */
@media (width <= 400px) {
  .page {
    padding: 100px 0 0;
  }

  .header {
    margin-bottom: 100px;
    padding: 121px 16px;
  }

  .button_dialog-open {
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}
